body {
    background-image: url('../images/classy_fabric.png');
}

span, ul, div, li, p, div, h1, h2, h3, h4, h5, h6 {
	color: #111111;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration:underline;
	color: #002266;
	font-family: Arial, Helvetica, sans-serif;	
}

div {
	background-color: #FCFCFC;
	border-radius: 10px;
}

#main {
	width: 85%;
	min-width: 700px;
	max-width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right:auto;
	min-height: 600px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

div#logo-container {
	max-width: 450px;
	width:60%;
}

div#logo-container a img {
    border-style: none;
}

img#logo {
	max-width: 450px;
	width: 100%;
}

a.nav-a {
	font-variant: small-caps;
	display: block;
	text-align: center;
	color: #111111;
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a.thispage {
    text-decoration: underline;
}

a.caselink {
	font-size:0.9em;
}

ul#top-nav {
	float: left;
	margin: 0px 7% 0px 7%;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;	
	width: 84%;
	padding-left: 0px;
}

li {
    line-height: 18px;
}

.nav-li {
	float: left;
	width: 25%;
	line-height: 54px;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}

.nav-li:hover {
	background-color: #F0F0F0;
}

hr {
	width:100%;
	margin-top: 1px;
	margin-bottom: 1px;
	color:#111111;
}

#navigation {
	display: block;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	border-radius: 2px;
}

#body-container {
	display: block;
	width: 84%;
	margin: 0px 7% 0px 7%;
	overflow: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

div#body-text {
	width: 66%;
	padding: 0px 2% 0px 0px;
	margin: 0px 0px 0px 0px;
	display: block;
	height: 100%;
	float: left;
	border-radius: 2px;
	min-height: 450px;
}

div#lfw {
	background-color: #F0F0F0;
	font-size:1.37em;
	text-align:center;
	padding:5px 5px 5px 5px;
	border-radius:2px;
}
div#sidebar {
	height: 100%;
	width: 30%;
	padding: 10px 1% 0 1%;
	margin: 0 0 0 0;
	display: block;
	min-height: 440px;
	background-color: #F0F0F0;
	float: right;
	border-radius: 2px;
	font-size: 1em;
}


img.sidebar {
	width: 100%;
}

p#copyright {
	font-size:x-small;
	position:absolute;
	padding-left: 22px;
	bottom:0;
	left:0;
}

input#didyouknow {
    cursor: pointer;
    overflow: auto;
    display: block;
    margin: 0px auto 22px auto;
    width: 100%;
    border-radius: 2px;
    padding: 5% 0px 5% 0px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color:#111111;
    text-decoration:none;
    text-align: center;
    font-variant: small-caps; 
    background-color: #FCFCFC;
    border: none;
}
